.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #DDDDDD;
    position: relative;
    display: flex;
    align-items: center;
}
.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 30px;
    border: none;
}

.filters button:hover {
    opacity: 0.9;
    cursor: pointer;
}