.container .filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #DDDDDD;
    position: relative;
    display: flex;
    align-items: center;
}
.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 30px;
    border: none;
}

.container .filters button:hover {
	opacity: 90%;
}
.container .filters div {
	height: 100%;
	width: 25%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-left: 60px;
	position: relative;
}

.container .filters div h3 {
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.container .filters div h4 {
    font-weight: 400;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.container .filters div.locations {
    border-right: 1px solid #DDDDDD;
}

.container .filters div .popover {
	padding: 30px 15%;
	position: absolute;
	width: 100%;
	top: 100%;
	left: 0;
	list-style: none;
	background-color: #FAFAFA;
	border: solid 1px #DDDDDD;
	border-radius: 4px;
	display: none;
	opacity: 0;
}

.container .filters div:hover .popover {
	display: block;
	opacity: 100%;
}
.container .filters .locations .popover > li:not(:last-of-type) {
	margin-bottom: 20px;
}
.container .filters .locations .popover ul{
	margin-left: 15%;
}