.container .places h1 {
    font-size: 30px;
}

.container .places ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.container .places ul article {
    width: 390px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .places ul article h2 {
	font-size: 30px;
    text-align: center;
}